.nav {
    position: fixed;
    top: 0;
    width: 100%;
    padding: 20;
    height: 30px;
    z-index: 1;

    display: flex;
    justify-content: space-between;
    background-color: #111;
}

.nav-logo {
    position: fixed;
    left: 20px;
    width: 80px;
    object-fit: contain;
    height: 30px;
}

.container img {
    position: fixed;
    right: 20px;
    width: 30px;
    object-fit: contain;
}